include ../mixin/form-content

div(
    layout='column'
    layout-align='center center'
    flex
)

    form.login-form(
        method='post'
        name='nodeForm'
        ng-submit='actions.login()'
    )
        +form-content(
            'nodeForm',
            'form',
            'login',
            'username', 'password'
        )

        .errors
            .error {{ errors.password }}

        .actions(
            layout='row'
            layout-align='end center'
        )
            md-button.md-raised.md-primary(
                type='submit'
                ng-disabled='nodeForm.$invalid'
            ) Submit


