include ../mixin/form-content

.summary(
    layout='column'
    layout-align='auto center'
    flex
)

    .steps
        ul
            li(
                ng-class="{1: 'active'}[state.step]"
            ) Step 1
            li(
                ng-class="{2: 'active'}[state.step]"
            ) Step 2


    .register-forms
        .step-one(
            ng-class="{2: 'hide'}[state.step]"
        )
            form(
                method='post'
                name='nodeFormOne'
                ng-submit='actions.stepUp(nodeFormOne)'
            )

                +form-content(
                    'nodeFormOne',
                    'formOne',
                    'register',
                    'name', 'surname', 'phone', 'country', 'city', 'street'
                )

                .actions(
                    layout='row'
                    layout-align='end center'
                )

                    md-button.md-raised.md-primary(
                        type='submit'
                        ng-disabled='nodeFormOne.$invalid'
                    ) Continue


        .step-two(
            ng-class="{1: 'hide'}[state.step]"
        )

            form(
                method='post'
                name='nodeFormTwo'
                ng-submit='actions.stepUp(nodeFormTwo)'

            )

                +form-content(
                    'nodeFormTwo',
                    'formTwo',
                    'register',
                    'username', 'password', 'repassword', 'birthday', 'employmentStatus', 'employmentPlace', 'annualIncome', 'favouriteSport', 'acceptTerms'
                )



                md-button.md-raised.md-primary(
                    type='submit'
                    ng-disabled='nodeFormTwo.$invalid'
                ) Finish

