include ../mixin/form-content

.summary(
    layout-padding
)

    ng-form.summary-form(
        name='nodeForm'
        layout='row'
        layout-wrap
    )

        +form-content(
            'nodeForm',
            'form',
            'summary',
            'name', 'surname', 'phone', 'street', 'city', 'country', 'username',
            'password', 'birthday', 'annualIncome', 'favouriteSport',
            'employmentStatus', 'employmentPlace'
        )

    .actions(
        layout='row'
        layout-align='center center'
    )
        md-button.md-raised.md-primary(
            ng-click='actions.saveForm(nodeForm)'
            ng-disabled='nodeForm.$dirty && nodeForm.$invalid || nodeForm.$pristine'
        ) Save




