include ../mixin/form-content

.summary(
)

    form.summary-form(
        name='nodeForm'
        ng-disabled='state.isEdited'
    )

        //- name, surname

        md-input-container
            label Name
            input(
                name="name"
                ng-required="true"
                ng-model="form.name"
                disabled
            )
        md-input-container
            label Surname
            input(
                name="surname"
                ng-required="true"
                ng-model="form.surname"
                disabled
            )

        +form-content(
            'nodeForm',
            'form',
            'summary',
            'phone', 'street', 'city', 'country', 'username',
            'password', 'annualIncome', 'favouriteSport', 'employmentStatus', 'employmentPlace'
        )

        //- employmentStatus, employment Place

    md-button.md-raised.md-primary(
        ng-click='actions.saveForm()'
        ng-disabled='nodeForm.$dirty && nodeForm.$invalid || nodeForm.$pristine'
    ) Save




