mixin form-content(formName, dataGroup, modifier, ...inputNames)

    - var len = inputNames.length

    - for (var i = 0; i < inputNames.length; i++)
        - var fi = data.formContent[inputNames[i]];

        - if (fi.element == 'input')
            md-input-container.md-block(
                flex = (modifier == 'summary') ? '33' : '100'
                flex-sm = (modifier == 'summary') ? '50' : ''
                flex-xs = '100'
            )
                label=fi.label
                input(
                    type = fi.type
                    name = inputNames[i]
                    ng-model = dataGroup + '.' + inputNames[i]
                    required = fi.required
                    validate-me = fi.validators && fi.validators.validateMe || false
                    same-as = (fi.validators && fi.validators.sameAs) ? dataGroup + '.' + fi.validators.sameAs : false
                    username-exists = !!(modifier != 'login' && inputNames[i] == 'username')
                    disabled = !!(modifier == 'summary' && (inputNames[i] == 'name' || inputNames[i] == 'surname'))
                )
                ng-messages(
                    role = 'alert'
                    for = formName + '.' + inputNames[i] + '.$error'
                )
                    ng-message(
                        when='validateMe, sameAs'
                    )= fi.error

                    ng-message(
                        when='required'
                    ) Required

                    - if (modifier == 'register')
                        ng-message(
                            when='usernameexists'
                        ) Username is taken


        - else if (fi.element == 'select')
            md-input-container(
                flex = (modifier == 'summary') ? '33' : '100'
                flex-sm = (modifier == 'summary') ? '50' : ''
                flex-xs = '100'
                ng-show = (fi.display && fi.display) ? dataGroup + '.' + fi.display : 'true'
            )
                label= fi.label
                md-select(
                    validate-me = fi.validators && fi.validators.validateMe || false
                    name = inputNames[i]
                    ng-required = (typeof fi.required === 'boolean') ? '' + fi.required : dataGroup + '.' + fi.required
                    ng-model = dataGroup + '.' + inputNames[i]
                )
                    - for (var d = 0; d < fi.data.length; d++)
                        md-option(
                            value = fi.data[d].value
                        )= fi.data[d].label

                ng-messages(
                    role = 'alert'
                    for = formName + '.' + inputNames[i] + '.$error'
                )
                    ng-message(
                        when='validateMe'
                    )= 'error: ' + fi.error || ''



        - else if (fi.element == 'checkbox')

            md-input-container(
                flex = (modifier == 'summary') ? '33' : '100'
                flex-sm = (modifier == 'summary') ? '50' : ''
                flex-xs = '100'
            )
                md-checkbox(
                    ng-model = dataGroup + '.' + inputNames[i]
                    aria-label = fi.label
                    required = fi.required
                )= fi.label

                ng-messages(
                    role = 'alert'
                    for = formName + '.' + inputNames[i] + '.$error'
                )
                    ng-message(
                        when='required'
                    )= fi.error

        - else if (fi.element == 'datepicker')


            .md-datepicker-container(
                flex = (modifier == 'summary') ? '33' : '100'
                flex-sm = (modifier == 'summary') ? '50' : ''
                flex-xs = '100'
            )
                label= fi.label

                md-datepicker(
                    name = inputNames[i]
                    ng-model = dataGroup + '.' + inputNames[i],
                    required = fi.required
                    md-placeholder = fi.placeholder
                    validate-me = fi.validators && fi.validators.validateMe || false
                )


                ng-messages.errors(
                    ng-show = formName + '.' + inputNames[i] + '.$dirty'
                    for = formName + '.' + inputNames[i] + '.$error'
                )

                    ng-message.error(
                        when = 'validateMe'
                    )= fi.error

                    ng-message.error(
                        when = 'valid, invalid'
                    ) Date format should be dd.mm.yyyy

                    ng-message.error(
                        when = 'required'
                    ) Required











